.navbar{
    background-color: #0080FF;
}

.quem-somos{
    background-color: #A4A4A4;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.eumesmo{
    margin-top: 20px;
    padding-top: 10px;
}

.parceiros{
    background-color:#BCA9F5;
}

.bg-footer{
    background-color: black;
    color: white;
}